
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="margin:0 auto;padding-top:200px;width:980px;"> 
        <h3>测试 Log4Net 日志类方法</h3>
    </div>
</body>
</html>
