
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogWhile</title>
    <style>
        div {
            margin: 0 auto;
            width: 980px;
            padding-top: 200px;
        }
    </style>
</head>
<body>
    <div>
        <h3>正在批量写入日志...</h3>
    </div>
</body>
</html>
