
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CacheOutTime</title>
</head>
<body>
    <div style="margin:0 auto;width:980px;padding-top:200px;"> 
        <h3>@ViewBag.isExist</h3>
    </div>
</body>
</html>
