
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CompareMemCacheWithDictionary</title>
</head>
<body>
    <div style="width:980px;margin:0 auto;padding-top:200px;"> 
        <h3>存入dictionary 用时： @ViewData["dicTime"]</h3>
        <h3>存入MemCache 用时： @ViewData["memTime"]</h3>
    </div>
</body>
</html>
