
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log4Net</title>
    <style>
        div{
            width:980px;
            margin:0 auto;
            padding-top:200px;
        }
    </style>
</head>
<body>
    <div> 
        <h3>测试Log4Net...</h3>
    </div>
</body>
</html>
